@charset "UTF-8";

/*
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: idroid;
    src: url(../fontes/idroid.otf) format(opentype);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5ebd6;
    text-align: justify;
}
header {
    background-image: linear-gradient(to bottom, #2fa866, #1a5c37);
    width: 100%;
    height: 10em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header > h1 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 3em;
    padding: 10px 3px 3px 0px;
    margin-bottom: 20px;
    color: white;
    background-image: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.384);
}
header > p {
    max-width: 500px;
    margin: auto;
    padding: 0px 5px 0px 5px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.384);
}
nav {
    background-color: #1a5c37;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.438);
}
nav > a {
    margin-left: 1em;
    text-decoration: none;
    color: #c5ebd6;
    font-weight: bolder;
    transition-duration: 0.2s;
}
nav > a:hover {
    background-color: #c5ebd6ab;
    padding: 5px;
    border-radius: 10px;
}
main {
    background-color: white;
    padding: 2em 1em;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.74);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
main a {
    color: #1a5c37;
    font-weight: bolder;
}
strong {
    color: #1a5c37;
}
main h1, h2 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #1a5c37;
    text-indent: 0em;
    background-image: linear-gradient(to right, #83e1ad70, #ffffff70);
    text-align: left;
}
main h2 {
    font-size: 1.4em;
    text-align: left;
}
main p {
    text-indent: 2em;
    line-height: 2em;
}
picture {
    display: flex;
    justify-content: center;
}
img {
    width: 100%;
}
.img-bugdroid {
    max-width: 350px;
}
.video {
    background-color: #063d1e;
    border: 1em solid #063d1e;
    margin: 0px -1em;
}
aside {
    background-color: #c5ebd6ab;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.74);
    line-height: 2em;
}
h3 {
    background-color: #1a5c37;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: white;
    margin: -10px -10px 0px -10px;
}
.aprender-mais {
    text-indent: 2em;
}
ul {
    margin: 4px 0em 4px 2em;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
footer {
    background-color: #063d1e;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 4px;
}